<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>align</string>
	<key>ordering</key>
	<array>
		<string>08636A01-94A8-4050-8A31-343E5BD187CF</string>
		<string>F89CFEE9-F073-4B9C-9E8C-06319EC51EBE</string>
		<string>781AB5CD-1951-4055-8F29-CF02F9FCA56C</string>
	</array>
	<key>uuid</key>
	<string>A316AA52-1658-4F0A-8D4D-B218012E70F4</string>
</dict>
</plist>
